# Environments
venv/
venv310/
__pycache__/
*.pyc

# HuggingFace / Models
.cache/
models/
*.bin
*.safetensors

# Vector DB
vectorstore/
*.faiss
*.pkl

# Data
data/
pdfs/
ncert_pdfs/

# OS files
.DS_Store
